
body {
	margin: auto;
	width: 90%; 
	padding: 50px;
	padding-top: 20px;
	font-family: 'Avenir', sans-serif; 
	color: #33475b;    
	
  }

button {
	margin-right:20px;
	margin-top: 5px;
	width: 320px;
	padding-bottom: 0px;
	font-size: 1.5ch;
	border: none;
	height: 50px;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
	text-align: left;
}



.buttonIcon{
	height:40px;
	width:40px;
	justify-self: start;
	align-self: flex-start;
	object-fit: cover;
	margin-right: 5px;
}

.imgOptions{
	width: 300px;
	margin-right: 40px;
	float:top;
}
span{
	margin-bottom: 10px;
}

#lname{
	width:395px;
	border: none;
}

.center {
	height: 100%;
	min-height: 300px;
	display: flex;
	align-items:flex-start;
	justify-content: center;
  
  }

.imgClass{
	height: 510px;
	width: 400px;

	object-fit: cover;
	border-radius: 10px;
}


@media screen and (max-width: 580px) {

	.imgOptions{
		display: block;
		width: 300px;
		margin-left:20px;
		margin-right:10px;
		float:top;
		margin-bottom: 10px;
		align-items: center;
		justify-content: center;
	}
	.center {
		height: 100%;
		min-height: 300px;
		display: block;
		align-items:center;
		justify-content: center;
	  
	  }
	  button {
		margin-right:0px;
		margin-top: 5px;
		width: 320px;
		padding-bottom: 0px;
		font-size: 1.5ch;
		border: none;
		height: 50px;
		justify-content:center;
		align-items: center;
		border-radius: 5px;
		text-align: left;
	}
  }
